networks:
    kong-net:
      
services:
  web:
    build: ./gestecord
    ports:
      - 8080:80
    networks:
      kong-net:
        aliases:
          - web
  db:
    image: mongo:7.0.5-jammy
    command: --quiet
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_DATABASE=gestecord
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    volumes:
      - mongodb:/data/db
    networks:
      - kong-net


  #######################################
  # Postgres: The database used by Kong
  #######################################
  kong-database:
    image: postgres:9.6
    restart: always
    networks:
      - kong-net
    environment:
      POSTGRES_USER: kong
      POSTGRES_DB: kong
      POSTGRES_PASSWORD: kong
    # command: bash -c "./script.sh"
    volumes:
      - ./kong-db:/var/lib/postgresql/data
      - ./kong-db/pg_replslot:/var/lib/postgresql/data/pg_replslot
      - ./kong-db/pg_tblspc:/var/lib/postgresql/data/pg_tblspc
      - ./kong-db/pg_twophase:/var/lib/postgresql/data/pg_twophase
      - ./kong-db/pg_snapshots:/var/lib/postgresql/data/pg_snapshots
      - ./kong-db/pg_commit_ts:/var/lib/postgresql/data/pg_commit_ts
      - ./kong-db/pg_logical/snapshots:/var/lib/postgresql/data/pg_logical/snapshots
      - ./kong-db/pg_logical/mappings:/var/lib/postgresql/data/pg_logical/mappings
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "kong"]
      interval: 5s
      timeout: 5s
      retries: 5
  #######################################
  # Kong database migration
  #######################################
  kong-migration:
    image: kong:latest
    command: "kong migrations bootstrap"
    networks:
      - kong-net
    restart: on-failure
    environment:
      - KONG_DATABASE=postgres
      - KONG_PG_HOST=kong-database
      - KONG_PG_DATABASE=kong
      - KONG_PG_USER=kong
      - KONG_PG_PASSWORD=kong
    depends_on:
      kong-database:
        condition: service_healthy

  #######################################
  # Kong: The API Gateway
  #######################################
  kong:
    image: kong:latest
    restart: always
    networks:
      kong-net:
        aliases:
          - kong
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_PASSWORD: kong
      KONG_PG_USER: kong
      KONG_PROXY_LISTEN: 0.0.0.0:8000
      KONG_PROXY_LISTEN_SSL: 0.0.0.0:8443
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      KONG_PROXY_ACCESS_LOG: /usr/local/kong/logs/proxy_access.log
      KONG_ADMIN_ACCESS_LOG: /usr/local/kong/logs/admin_access.log
      KONG_PROXY_ERROR_LOG: /usr/local/kong/logs/proxy_error.log
      KONG_ADMIN_ERROR_LOG: /usr/local/kong/logs/admin_error.log
    volumes:
      - ./kong_logs:/usr/local/kong/logs
    depends_on:
      - kong-migration
      - kong-database
      
    healthcheck:
      test: ["CMD", "curl", "-f", "http://kong:8001"]
      interval: 5s
      timeout: 2s
      retries: 15
    ports:
      - "8001:8001"
      - "8000:8000"
      - "8443:8443"
  #######################################
  # Konga database prepare
  #######################################
  konga-prepare:
    image: pantsel/konga:0.14.9
    command: "-c prepare -a postgres -u postgresql://kong:kong@kong-database:5432/konga"
    networks:
      - kong-net
    restart: on-failure
    depends_on:
      - kong
      - kong-database
      

  #######################################
  # Konga: Kong GUI
  #######################################
  konga:
    image: pantsel/konga:0.14.9
    restart: always
    networks:
     - kong-net
    environment:
      DB_ADAPTER: postgres
      DB_HOST: kong-database
      DB_USER: kong
      DB_DATABASE: konga
      DB_PASSWORD: kong
      NODE_ENV: production
    depends_on:
      - kong
      - konga-prepare
      - kong-database
      
    ports:
      - "1337:1337"
volumes:
  mongodb:
  kong-db:
    driver: local


